body
{
    background-size: cover;
    background-position: center;
}
.heading
{
    font-size: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
}
.AC
{
    font-size: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
}
.Basin_Unit
{
    font-size: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
}
.Fridge
{
    font-size: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
}
.Painting
{
    font-size: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
}
.Wardrobe
{
    font-size: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
}
.Micro_Oven
{
    font-size: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
}
.Home_Temple
{
    font-size: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
}